<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <div (click)="dismiss()">
        <ion-icon name="close" class="icons"></ion-icon>
      </div>
    </ion-buttons>
    <ion-title>custom-market-templates</ion-title>
    <ion-buttons end>
        <div class="next" (click)="updateCustom()" *ngIf="saveCheck">Save</div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <input type="text"
    *ngIf="saveCheck"
    placeholder="New template name"
    (click)="optionsOff()"
    (keydown)="optionsOff()"
    [(ngModel)]="customName">
  <ion-list>
    <ion-item *ngFor="let option of options"
      (click)="open(option)">
      <div class="checkbox" [ngClass]="{checkboxOn: option.on}"
        *ngIf="saveCheck">
      </div>
      <div class="optionLabel"
        [ngClass]="{center: saveCheck}">
        {{option.text}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
