<ion-header>
  <ion-navbar>
    <button ion-button menuToggle left>
      <div class="menuToggle"></div>
    </button>
    <ion-title (click)="pipelineChoose()">
      <div class="titleFlex">
        {{title}} <div class="downArrow"></div>
      </div>
    </ion-title>
    <ion-buttons end>
      <div (click)="openAddModal()">
        <div class="add"></div>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-slides #pipeSlider (ionSlideDidChange)="slideChange()">
    <ion-slide *ngFor="let slide of slides" 
      class="slides">
      <div class="arrow">
        {{slide.name}} 
        <div  *ngIf="slide.id < 8">
          ({{slide.contacts ? slide.contacts.length : 'Loading...'}})
        </div>
      </div>
      <div class="prospects"
        (scroll)="scrollFunction($event, slide)">
        <div *ngFor="let contact of slide.contacts | pipeFilter: {pipe: pipeType, id: slide.id}"
          class="contact {{contactColor(contact.actions_status)}}">
            <div class="contactLeft">
              <div class="circleContain"
                *ngIf="slide.id > 2">
                <div class="smallCircle {{dotColor(contact.actions_status)}}"
                  (click)="openModal(contact)">
                </div>
              </div>
              <div class="circleSpace"
                *ngIf="slide.id <= 2">
              </div>
              <div class="contactName"
                (click)="openModal(contact)">
                {{contact.first_name}} {{contact.last_name}}
              </div>
            </div>
            <div class="togglesWrap">
              <div class="outerToggles">
                <div class="toggles"
                  [ngClass]="{togglesOn: contact.toggleArrowOn}">
                  <div *ngFor="let toggle of slide.actions"
                    class="toggle toggle{{toggle.id}} {{toggleCheck(toggle,contact.pipeline_actions)}} {{slide.actions.length == 2 ? 'spaceAround' : ''}}"
                    (click)="saveToggle(toggle, contact.pipeline_actions, contact.id)"
                    [ngClass]="toggle.status? 'toggle'+toggle.id+'On' : ''">
                  </div>
                </div>
              </div>
              <div *ngIf="slide.actions.length>3"
                class="toggle overArrow"
                [ngClass]="{overArrowOn: contact.toggleArrowOn}"
                (click)="contact.toggleArrowOn =! contact.toggleArrowOn">
              </div>
            </div>
          <div class="line"
            *ngIf="slide.contacts[0].id !== contact.id">
          </div>
        </div>
        <div class="contact"
          *ngIf="slide.next_page_url"
          >
          Loading...
        </div>
      </div>
    </ion-slide>
    <ion-slide>
    </ion-slide>
  </ion-slides>
</ion-content>
