<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <div (click)="dismiss()">
        <ion-icon name="close" class="icons"></ion-icon>
      </div>
    </ion-buttons>
    <ion-title>Follow-up {{followup.type}}</ion-title>
    <ion-buttons end>
        <!-- <div class="next" (click)="save()">Save</div> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="followupTime">
    <div *ngIf="followup.type !== 'action'">
      Send follow-up {{followup.type}}
    </div>
    <div *ngIf="followup.type == 'action'">
      Schedule follow-up task 
    </div>
    <input type="number" min="0" [(ngModel)]="followup.time">
    <div>
      hours later
    </div>
  </div>
  <page-text-template 
    [name]="followup.name"
    [id]="followup.id"
    *ngIf="followup.type == 'text'"
    [textData]="followup.data" 
    [text]="followup.text">
  </page-text-template>
  
  <page-email-template 
    *ngIf="followup.type == 'email'"
    [name]="followup.name"
    [data]="followup.data"
    [signature]="signature"
    [content]="followup.content"
    [custom]="followup.custom">
  </page-email-template>

  <page-action-template *ngIf="followup.type == 'action'"
    [action]="followup">
  </page-action-template>
  <button class="save" (click)="save()">Save</button>

</ion-content>
