page-add-action {
    //dimmer
    input{
        width: 95%;
        height: 35px;
        margin: 2.5%;
        margin-top: 10px;
        padding-left: 45px;
        margin-bottom: 15px;
        background: $clear;
        border: none !important;
    }
    .dimSearch{
        display: none;
        margin-top: 20px;
        position: fixed;
        z-index: 0;
        width: 100%;
        height: 100%;
    }
    .dimSearchIcon{
        background-image: url('../assets/imgs/actionIcons/Asset 24.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        position: fixed;
        margin: 15px;
    }
    .dimSearchArrow{
        background-image: url('../assets/imgs/actionIcons/Asset 29.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        position: fixed;
        margin: 20px;
        right: 0%;
    }
    .dimSearchContent{
        z-index: 16;
        max-height: 97vh;
        background: $clear8;
        overflow: scroll;
    }
    .dimSearchName{
        font: 17px 'junction-regular';
        color: white;
        height: 20px;
        margin: 0px 0 5px 20px;
    }
    .dimSearchBottom{
        height: 100%;
        width: 100%;
    }
    .showDimSearch{
        display: block;
        z-index: 15;
    }

    //Content
    .item{
        padding: 0 16px !important;
    }
    textarea{
        height: 100px;
        width: 93%;
        border: 2px solid $greyy;
        padding: 5px;
        resize: none;
        font: 18px 'junction-light';
        color: $dark;
    }
    .scroll-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .iconList{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .labelIcon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    //icons

    .text{
        background-image: url('../assets/imgs/actionIcons/Asset 35.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .email{
        background-image: url('../assets/imgs/actionIcons/Asset 53.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .call{
        background-image: url('../assets/imgs/actionIcons/Asset 59.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        transform: translateX(13px);
    }
    .meet{
        background-image: url('../assets/imgs/actionIcons/Asset 64.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .emailOn{
        background-image: url('../assets/imgs/actionIcons/Asset 51.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .textOn{
        background-image: url('../assets/imgs/actionIcons/Asset 33.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .callOn{
        background-image: url('../assets/imgs/actionIcons/Asset 57.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        transform: translateX(13px);
    }
    .meetOn{
        background-image: url('../assets/imgs/actionIcons/Asset 62.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .labels{
        margin-top: 8px;
        color: $dark;
        font: 100 16px 'junction-light';
    }
    .save{
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        font: 18px 'junction-regular';
        color: $dark;
        height: 40px;
        width: 100px;
        background-color: $greyy;
        margin-right: 10px;
    }
    .labelsOn{
        color: $redd;
    }
}
