page-specific-message {
    .scroll-content{
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $greyy;
        width: 100%;
    }
    .messages-wrapper{
        background-color:white;
        min-height: 100%;
        padding-bottom: 65px;
    }
    .textAreaMargin{
        padding-bottom: 80px;
    }
    .message{
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    .out{
        justify-content: flex-end;
    }
    .in{
        justify-content: flex-start;
    }
    .messageIcon{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $bluish;
    }
    .messageIconIn{
        font: 20px junction-regular;
        color: white;
        text-align: center;
        padding-top: 15px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $dark;
    }
    .messageContent{
        font: 16px 'junction-regular';
        color: white;
        max-width: 60%;
        margin: 6px;
        background-color: $bluish;
        padding: 13px 18px;
        border-radius: 20px;
    }
    .inMessage{
        background-color: $dark;
    }
    .sendBar{
        display: flex;
        align-items: flex-end;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: $greyy;
        textarea{
            resize: none;
            font: 16px junction-regular;
            color: $dark;
            padding: 5px;
            border: 1px solid $greyy;
            border-radius: 5px;
            width: 100%;
            min-height: 30px !important;
            height: 30px;
            max-height: 100px;
            margin: 10px;
            transition: all .2s ease;
        }
        .tallTextArea{
            height: 70px;
        }
        .send-button{
            flex-shrink: 0;
            height: 30px;
            width: 70px;
            background-color: $redd;
            border-radius: 5px;
            font: 14px 'junction-regular';
            color: white;
            padding-top: 8px;
            text-align: center;
            margin: 10px;
        }
    }
}
